<section class="bannerTop wow fadeInLeft">
	<div class="container">
		<div class="row">
			<h1 class="textoBanner">Onde Estamos</h1>
		</div>
		<div class="row">
			<div class="infoBanner">
				<div class="col-md-12">
					<span>Você está aqui: </span>
					<span>Home</span>
					<span>></span>
					<span>Contato</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mapaContato wow fadeInLeft">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14706.215342598774!2d-43.0215271!3d-22.8559907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82b3720117deba00!2sTic-Tac+GNV+%26+Acess%C3%B3rios!5e0!3m2!1spt-BR!2sbr!4v1535317035290" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section class="contato">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h4>Deixe um Recado</h4>
			</div>
		</div>
		<div class="row">
			<section id="formularioContato" class="formularioContato col-md-8 wow fadeInLeft">
				<form action="#" method="POST" name="formularioContato">
					<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="form-label">Nome</label>
							<input type="text" name="nome" class="nome form-control" id="nome" placeholder="Digite o seu Nome" required>
						</div>
						<div class="form-group">
							<label class="form-label">E-mail</label>
							<input type="email" name="email" class="email form-control" id="email" placeholder="Digite o E-mail" required>
						</div>
						<div class="form-group">
							<label class="form-label">Assunto</label>
							<input type="text" name="assunto" class="assunto form-control" id="assunto" placeholder="Digite o seu Assunto" required>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group">
							<label class="form-label">Mensagem</label>
							<textarea required></textarea>
						</div>
						<div class="form-group">
							<button type="submit" form="formularioContato" class="btnEnviarContato"><span class="fa fa-envelope"></span>ENVIAR</button>
							
						</div>
					</div>
					</div>
				</form>
			</section>
			<div class="col-md-4">
				<div class="row">
					<h4>Informações da Empresa</h4>
				</div>
				<div class="row">
					<aside class="caixaInfoContato wow fadeInRight">
						<p>Se você está no meio de algo e não quer perder aquela ligação importante que poderia ser o começo de um novo e excitante negócio.</p>
						<span>E-mail: <a href="mailto:contato@tictacgnveacessorios.com.br">contato@tictacgnveacessorios.com.br</a></span>
						<br>
						<span>Telefone: <a href="tel:+5521964107596">++55 (21)96410-7596</a></span>
						<br>
						<span>Website: <a href="http://www.tictacgnveacessorios.com.br" target="_black">www.tictacgnveacessorios.com.br</a></span>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>
