<footer class="rodape">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<aside class="caixaInfoRodape wow fadeInLeft">
					<h3>CONTATE-NOS</h3>
					<p>Pioneira no ramo de acessórios há 15 anos, a TicTac Gnv veio para o ramo do GNV com a proposta de alcançar o sucesso profissional, fazendo do respeito, da confiança e do profissionalismo metas para a satisfação total de nossos clientes, mudando assim a imagem das lendas da conversão de combustivel.</p>
					<span>E-mail: <a href="mailto:contato@tictacgnveacessorios.com.br">contato@tictacgnveacessorios.com.br</a></span>
					<br>
					<span>Telefone: <a href="tel:+5521964107596">+55 (21)96410-7596</a></span>
					<br>
					<span>Website: <a href="http://www.tictacgnveacessorios.com.br" target="_black">www.tictacgnveacessorios.com.br</a></span>
				</aside>
			</div>
			<div class="col-md-3">
				<aside class="caixaInfoRodape wow fadeInLeft">
					<h3>NOSSOS SERVIÇOS</h3>				
					<ul class="linksRodape">
	                	<li><a href="#"><i class="fa fa-check-circle"></i> Instalação GNV 3ª Geração</a></li>
	                	<li><a href="#"><i class="fa fa-check-circle"></i> Instalação GNV 5ª Geração</a></li>
	                	<li><a href="#"><i class="fa fa-check-circle"></i> Manutenção de GNV</a></li>
	                	<li><a href="#"><i class="fa fa-check-circle"></i> Reteste de Cilindro</a></li>
	                	<li><a href="#"><i class="fa fa-check-circle"></i> Calibração dos Sistemas de GNV</a></li>
	                </ul>
				</aside>
			</div>
			<div class="col-md-5">
				<aside class="caixaInfoRodape wow fadeInRight">
					<h3>COMO CHEGAR !</h3>				
					<section class="mapa">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14706.215342598774!2d-43.0215271!3d-22.8559907!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x82b3720117deba00!2sTic-Tac+GNV+%26+Acess%C3%B3rios!5e0!3m2!1spt-BR!2sbr!4v1535317035290" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
					</section>
				</aside>
			</div>
		</div>
	</div>
</footer>
<section class="rodapeButton">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<section class="copyright">
					<p>© Copyright 2017-2018 TicTac GNV & Acessórios | Desenvolvido por <a href="#">Michael Silva</a></p>
				</section>
			</div>
			<div class="col-md-4">
				<section class="socialRodape">
					<a href="https://www.facebook.com/tictacgnv/" target="_black" class="fa fa-facebook-f"></a>
		            <a href="#" class="fa fa-instagram"></a>
		            <a href="#" class="fa fa-google"></a>
				</section>
			</div>
		</div>
	</div>
</section>

<section class="subir">
	<a class="btnSubir" href="">
		<i class="fa fa-facebook-f">seta</i>
	</a>
</section>