<div class='preloader'>
    <div class="lds-ripple"><div></div><div></div></div>
</div>

<header class="topo">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1 class="logo wow bounceIn">
					<a href="#/home">
						<img class="img-fluid" src="img/logo.png">
					</a>
				</h1>
			</div>
			<div class="col-md-6 offset-2">
				<section class="infoTopo wow bounceIn">
					<div class="row">
						<span class="infoTopoTelefone col-md-5 col-6">
							<img class="img-fluid" src="img/icone/telefone.png">
							<p>
								<b>Nos ligue já</b>
								<br>
								(21)3713-7019 / 96410-7596
							</p>
						</span>
						<span class="infoTopoHora col-md-7 col-6">
							<img class="img-fluid" src="img/icone/relogio.png">
							<p>
								<b>Horário de Funcionamento</b>
								<br>
								08:30 - 18:00
							</p>
						</span>
					</div>
				</section>
			</div>
		</div>
	</div>
</header>
<section class="menu wow bounceInLeft">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-12">
				<nav class="nav navbar navbar-expand-lg">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuTicTac" aria-controls="menuTicTac" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							<i class="fa fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="menuTicTac">
						<div class="navbar-nav">
							<a class="nav-link active" href="#/home">HOME</a>
							<a class="nav-link" href="#/sobre">SOBRE</a>
							<a class="nav-link" href="#/servicos">SERVIÇOS</a>
							<a class="nav-link" href="#/portfolio">PORTFÓLIO</a>
							<a class="nav-link" href="#/contato">CONTATO</a>	
						</div>
					</div>
					
				</nav>
			</div>
			<div class="col-md-3 col-9">
				<section class="social">
                    <a href="https://www.facebook.com/tictacgnv/" target="_blank" class="fa fa-facebook-f"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-google"></a>
				</section>
			</div>
		</div>
	</div>
</section>
<section class="atendimentoZap wow flash">
	<a href="tel:21964107596">
		<i class="fa fa-whatsapp"></i>
		<span>Dúvidas e Orçamentos</span>
	</a>
</section>

