<section class="bannerTop">
	<div class="container">
		<div class="row">
			<h1 class="textoBanner">SOBRE NÓS</h1>
		</div>
		<div class="row">
			<div class="infoBanner">
				<div class="col-md-12">
					<span>Você está aqui: </span>
					<span>Home</span>
					<span>></span>
					<span>Sobre Nós</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="sobre">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<section class="textoSobre">
					<h2 class="wow bounceInLeft">Quem Somos ?</h2>
					<!-- <h3 class="wow bounceInLeft">Instalação e manutenção de GNV</h3> -->
					<p class="wow bounceInLeft">
						 Pioneira no ramo de acessórios há 15 anos, a TicTac Gnv veio para o ramo do GNV com a proposta de alcançar o sucesso profissional, fazendo do respeito, da confiança e do profissionalismo metas para a satisfação total de nossos clientes, mudando assim a imagem das lendas da conversão de combustivel.
					</p>
					<p class="wow bounceInRight">
						 Trabalhamos com seriedade e ferramentas corretas e modernas para que possamos realizar os serviços com maior eficiência, rapidez e qualidade. Investindo sempre em equipamentos modernos para que assim possamos fazer um diagnóstico preciso em seu automóvel.Trabalhamos sempre para melhor atender os nossos clientes, entre outras vantagens facilitamos sempre na hora do pagamento parcelamos em até 10X sem Juros os nossos Kit 5ª geração (Landirenzo, tomasetto achille, IGT).
					</p>
					<p class="wow bounceInLeft">
						 A TicTac Gnv é a instaladora que vem crescendo nos últimos anos tanto em instalações quanto em qualidade no serviço prestado. A instalação do KIT GNV em seu veículo pode lhe trazer economias que serão sentidas logo no primeiro momento em razão do veículo poder rodar até 60% mais com GNV em relação aos outros combustíveis.  
					</p>
				</section>
			</div>
		</div>
	</div>
</section>
<section class="servicosSobre">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4>Nossos Serviços</h4>
				<div class="row">
					<div class="caixaTextoSobre col-md-3 wow fadeInLeft">
						<h5>Instalação de GNV</h5>
						<p>Somos especializados em instalação de Kit’s Gás 3ª e 5ª geração. Trabalhamos com produtos de qualidade e garantimos um dos melhores preços da região!</p>
					</div>
					<div class="caixaTextoSobre col-md-3 wow fadeInLeft">
						<h5>Manutenção de GNV</h5>
						<p>Seu kit GNV deve ficar em dia com a manutenção, e nossa empresa possui tudo que você precisa para que isso aconteça.</p>
					</div>
					<div class="caixaTextoSobre col-md-3 wow fadeInRight">
						<h5>Reteste de Cilindro</h5>
						<p>Após utilizar o cilindro de GNV durante 5 anos (prazo máximo, conforme norma NBR 12274), faz-se necessário o reteste do cilindro para verificar se está apto a armazenar o GNV por mais 5 anos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="orcamentoSobre wow fadeInUpBig">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="borda">
					<span>Faça um orçamento online sem compromisso e obtenha o melhor desconta do mercado</span>
					<button class="btnOrcamento">> FAÇA AGORA</button>
				</div>
			</div>
		</div>
	</div>
</section>